spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update # កែពី create មក update វិញដើម្បីកុំឱ្យបាត់ Data ចាស់ៗក្នុង DB
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect
  application:
    name: ems-backend
  datasource:
    # ប្តូរ IP, Port ឬ SID ទៅតាម Database ជាក់ស្តែងរបស់អ្នក
    url: jdbc:oracle:thin:@YOUR_DB_HOST:1521:xe
    username: YOUR_USERNAME
    password: YOUR_PASSWORD
    driver-class-name: oracle.jdbc.OracleDriver
    hikari:
      auto-commit: true
      connection-test-query: SELECT 1 FROM DUAL
      validation-timeout: 3000
      maximum-pool-size: 5
      minimum-idle: 2
      idle-timeout: 30000
      max-lifetime: 60000
      connection-timeout: 20000
server:
  port: 9000
ems:
  app:
    # កូនសោសម្ងាត់សម្រាប់ JWT (គួរតែមានប្រវែងវែង និងស្មុគស្មាញ)
    jwtSecret: "YOUR_JWT_SECRET_KEY"
    jwtExpirationMs: 86400000        # 24 ម៉ោង
    jwtRefreshExpirationMs: 129600000 # 36 ម៉ោង